.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* min-height: 5vh; */
  background: #007419;
  /* background: rgb(52, 82, 94); */
  text-decoration: none;
  height: 80px;
}

.nav-links {
  margin-left: 25%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  text-decoration: none;
  /* text-shadow: 1px 0px 8px #000000; */
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link :hover {
  color: rgb(31, 16, 16);
  text-decoration: underline;
}

/* .nav-links h3 {
  color: white;
  text-decoration: none;
} */
/* .hello a {
  text-decoration: none;
} */

/* .nav h3 h2 {
  color: white;
  text-decoration: none;
} */

.nav-title {
  size: 550px;
  text-decoration: none;
  font-family: Georgia, serif;
  color: #fff;
  /* background-color: #333; */
  /* text-shadow: 1px 1px 3px #000000; */
}
